.header-container{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px;
}
.navigation-container{
    text-align: center;
    font-family: Heebo;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
}
.login-button{
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #8e44ad;
    color:white;
    width: 100%;
}
.login-button:hover{
    border: 2px solid #8e44ad;
    background: white;
    color: #8e44ad;
    cursor: pointer;
}
.navigation-button{
    padding: 10px;
}
.navigation-button:hover{
    color: #8e44ad;
    cursor: pointer;
    font-size: 17px;
}