<div class="header-container">
  <div class="row">
    <div class="col-xs-1 col-xs-offset-1">
      <div class="logo-container">
        <img src="assets/images/commons/logo.png" alt="">
      </div>
    </div>
    <div class="col-xs-3 col-xs-offset-6">
      <div class="navigation-container">
        <div class="col-xs-3">
          <div class="navigation-button">
            HOME
          </div>
        </div>
        <div class="col-xs-3">
          <div class="navigation-button">
            ABOUT
          </div>
        </div>
        <div class="col-xs-3">
          <div class="navigation-button">
            CONTACT
          </div>
        </div>
        <div class="col-xs-3">
          <div class="login-button">
            LOGIN
          </div>
        </div>
      </div>
    </div>
  </div>
</div>