.dashboard-header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
    margin-bottom: 20px;
    margin-top: 5px;
}

.directory-font {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8e44ad;
}

.page-title {
    font-family: Heebo;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #34495e;
}

.add-button {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #8e44ad;
    color: white;
    width: 110px;
}

.add-button:hover {
    border: 1px solid #8e44ad;
    background: white;
    color: #8e44ad;
    cursor: pointer;
}

.row-align {
    padding: 10px 0px;
}

.user-image {
    position: absolute;
    top: -84px;
    background: #7f8c8d;
    width: 100px;
    color: white;
    height: 100px;
    border-radius: 100%;
    font-size: 45px;
    text-align: center;
    line-height: 100px;
}
.user-image:hover{
    cursor: pointer;
}
.user-image input{
    display: none;
}

.add-user-inputs {
    margin-top: 30px;
}

.add-user-inputs .input-title {
    font-family: Heebo;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f8c8d;
}

.dark-button {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #8e44ad;
    color: white;
}

.dark-button:hover {
    border: 1px solid #8e44ad;
    background: white;
    color: #8e44ad;
    cursor: pointer;
}

.light-button {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #8e44ad;
    border: 1px solid #8e44ad;
}

.light-button:hover {
    background: #8e44ad;
    color: white;
    cursor: pointer;
}