<div class="login-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 no-padding">
        <div class="login-bg">
          <img src="assets/images/login/background.jpg" alt="">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-container">
          <form action="">
            <div class="row">
              <div class="welcome-text">
                Welcome back!
              </div>
            </div>
            <div class="row">
              <div class="login-text">
                Please login to access your
                <span>Spaces</span> Dashboard
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="username" class="input-title">Username</label>
                <input type="text" class="form-control input-field" id="username" placeholder="Username">
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="username" class="input-title">Password</label>
                <input type="password" class="form-control input-field" id="username" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="login-footer">
                <div class="col-xs-6 no-padding">
                  <div class="forgot-password">
                    Forgot password?
                  </div>
                </div>
                <div class="col-xs-offset-3 col-xs-3 no-padding">
                  <div class="login-button">
                    LOGIN
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>