<div class="row">
    <div class="exit-icon">
        <i class="fas fa-times"></i>
    </div>
</div>
<div class="row">
    <div class="user-image">
        <img src="{{userData?.avatar}}" alt="">
    </div>
</div>
<div class="row">
    <div class="user-name">
        {{userData?.first_name}}
    </div>
</div>
<div class="row">
    <div class="buttons-container">
        <div class="col-xs-offset-1 col-xs-5">
            <div class="dark-button">
                <i class="far fa-edit"></i>
                Edit
            </div>
        </div>
        <div class="col-xs-5">
            <div class="light-button" (click)="modalService.getModal('deleteModal').open()">
                <i class="far fa-trash-alt"></i>
                Delete
            </div>
        </div>
    </div>
</div>
<div class="modal-container">
    <ngx-smart-modal #deleteModal identifier="deleteModal">
        <div class="row">
            <div class="confirm-text">
                Are you sure you want to delete
            </div>
        </div>
        <div class="row">
            <div class="user-name-modal">
                {{userData?.first_name}}
            </div>
        </div>
        <div class="row">
            <div class="buttons-container">
                <div class="col-xs-offset-1 col-xs-5">
                    <div class="light-button" (click)="deleteModal.close()">
                        No
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="dark-button" (click)="deleteUser()">
                        Yes
                    </div>
                </div>
            </div>
        </div>
    </ngx-smart-modal>
</div>