<div class="user-container" *ngFor="let user of users; let i = index" (click)="viewUser(i)">
  <div class="row">
    <div class="col-xs-2 no-padding">
      <div class="user-image">
        <img src="{{user?.avatar}}" alt="">
      </div>
    </div>
    <div class="user-field">
      <div class="col-xs-3">
        <div class="user-name">
          {{user?.first_name}}
        </div>
      </div>
      <div class="col-xs-offset-4 col-xs-1">
        <div class="interaction-icon">
          <i class="far fa-edit"></i>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="interaction-icon">
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
      <div class="col-xs-1">
        <div class="next-arrow">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>