  <div class="row" [hidden]="isClicked">
    <div class="col-xs-10 col-xs-offset-1">
      <app-list-users (isClicked)="checkClicked($event)" (selectedUser)="getUser($event)"></app-list-users>
    </div>
  </div>
  <div class="row" [hidden]="!isClicked">
    <div class="col-xs-7 col-xs-offset-1">
      <app-list-users (isClicked)="checkClicked($event)" (selectedUser)="getUser($event)"></app-list-users>
    </div>
    <div class="col-xs-4">
      <app-user-detail [userObject]="userObject"></app-user-detail>
    </div>
  </div>