<app-dashboard-header></app-dashboard-header>
<div class="container">
  <div class="dashboard-container" [hidden]="isClicked">
    <div class="row">
      <div class="dashboard-title">
        <div class="col-xs-2">
          User
        </div>
        <div class="col-xs-offset-7 col-xs-3">
          Actions
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-list-users (isClicked)="checkClicked($event)" (selectedUser)="getUser($event)"></app-list-users>
      </div>
    </div>
  </div>
  <div class="list">

    <div class="row" [hidden]="!isClicked">
      <div class="col-xs-8 dashboard-container">
        <div class="row">
          <div class="dashboard-title">
            <div class="col-xs-2">
              User
            </div>
            <div class="col-xs-offset-7 col-xs-3">
              Actions
            </div>
          </div>
        </div>
        <div class="row">
          <app-list-users (isClicked)="checkClicked($event)" (selectedUser)="getUser($event)"></app-list-users>
        </div>
      </div>
      <div class="col-xs-4 user-details-container">
        <app-user-detail [userObject]="userObject"></app-user-detail>
      </div>
    </div>
  </div>
</div>